@if(player()){
<div class="profile-container">
  <div class="header">
    <div class="header-content">
      <div class="header-left">  <img [src]="player()?.league?.iconUrls?.medium || 'assets/unranked.webp'" alt="League Icon"></div>
      <div class="header-right"> <div class="name">{{ player()?.name }}</div>
        <div class="tag">{{ player()?.tag }}</div>
        <div class="level">Nivel {{ player()?.expLevel }}</div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="stats-grid">
      <div class="stat-item">
        <div class="stat-label">Town Hall</div>
        <div class="stat-value">
          Level {{ player()?.townHallLevel }}
          <span class="weapon-level">
            (Weapon: {{ player()?.townHallWeaponLevel }})
          </span>
        </div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Trophies</div>
        <div class="stat-value">{{ player()?.trophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Best Trophies</div>
        <div class="stat-value">{{ player()?.bestTrophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">War Stars</div>
        <div class="stat-value">{{ player()?.warStars }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Attack Wins</div>
        <div class="stat-value">{{ player()?.attackWins }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Defense Wins</div>
        <div class="stat-value">{{ player()?.defenseWins }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Builder Hall</div>
        <div class="stat-value">Level {{ player()?.builderHallLevel }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Builder Base Trophies</div>
        <div class="stat-value">{{ player()?.builderBaseTrophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Best Builder Base Trophies</div>
        <div class="stat-value">{{ player()?.bestBuilderBaseTrophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Role</div>
        <div class="stat-value">{{ player()?.role }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">War Preference</div>
        <div class="stat-value">{{ player()?.warPreference }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Donations</div>
        <div class="stat-value">{{ player()?.donations }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Donations Received</div>
        <div class="stat-value">{{ player()?.donationsReceived }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Clan Capital Contributions</div>
        <div class="stat-value">{{ player()?.clanCapitalContributions }}</div>
      </div>
    </div>
  </div>
</div>
}@else{
  <app-loader></app-loader>
}
