@if(player()){
<div class="profile-container">
  <div class="header">
    <div class="header-content">
      <div class="header-left">  <img [src]="player()?.league?.iconUrls?.medium || 'assets/unranked.webp'" alt="League Icon"></div>
      <div class="header-right"> <div class="name">{{ player()?.name }} </div>
        <div class="tag">{{ player()?.tag }}</div>
        <div class="role">{{ player()?.role }}</div>
        <div class="level">Nivel {{ player()?.expLevel }}</div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="stats-grid">
      <div class="stat-item">
        <div class="stat-label">Ayuntamiento</div>
        <div class="stat-value">
           {{ player()?.townHallLevel }}
          <span class="weapon-level">
            (Arma: {{ player()?.townHallWeaponLevel }})
          </span>
        </div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Trofeos</div>
        <div class="stat-value">{{ player()?.trophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Mayores Trofeos</div>
        <div class="stat-value">{{ player()?.bestTrophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Estrellas de Guerra</div>
        <div class="stat-value">{{ player()?.warStars }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Ataques Ganados</div>
        <div class="stat-value">{{ player()?.attackWins }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Defensas Ganadas</div>
        <div class="stat-value">{{ player()?.defenseWins }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Ayuntamiento del Constructor</div>
        <div class="stat-value">Level {{ player()?.builderHallLevel }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Trofeos base del Contructor</div>
        <div class="stat-value">{{ player()?.builderBaseTrophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Mayores Trofeos Base del Constructor</div>
        <div class="stat-value">{{ player()?.bestBuilderBaseTrophies }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Preferencia de Guerra</div>
        <div class="stat-value">{{ player()?.warPreference }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Donaciones</div>
        <div class="stat-value">{{ player()?.donations }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Donaciones Recibidas</div>
        <div class="stat-value">{{ player()?.donationsReceived }}</div>
      </div>
      <div class="stat-item">
        <div class="stat-label">Contrbuciones a la Capital</div>
        <div class="stat-value">{{ player()?.clanCapitalContributions }}</div>
      </div>
    </div>
  </div>
</div>
}@else{
  <app-loader></app-loader>
}
